#root {
    width: 100%;
    margin: 0 auto;
    background-color: white;
}
.main {
    padding: 40px 30px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.info-box {
    width: 100%;
    max-width: 800px;
    margin: 10px auto;
    font-size: 14px;
}

.form-box {
    margin-top: 10px;
    width: 100%;
}
.form-box form {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
}
.form-box form h2 {
    font-size: 40px;
    margin: 0 0 20px;
}
.input-box {
    width: 100%;
    margin-top: 10px;
    position: relative;
}
.clear {
    position: absolute;
    top: 14px;
    right: 10px;
    font-size: 30px;
    color: red;
    transform: rotate(45deg);
    width: 30px;
    height: 30px;
    border: 1px solid red;
    border-radius: 50%;
    text-align: center;
    padding: 0;
    line-height: 0.75;
    opacity: 0.4;
    cursor: pointer;
}
.clear:hover {
    opacity: 1;
}
.input-label {
    text-transform: uppercase;
    color: #aaa;
    font-size: 12px;
}
.form-box input {
    width: 100%;    
    outline: none;
    border: none;
    border-bottom: 1px solid;
    font-size: 20px;
    padding: 5px 0;
    background-color: white;
}
.text-error {
    width: 100%;
    color: red;
    height: 30px;
    font-size: 12px;
}
.form-box button {
    
    outline: none;
    border: none;
    background-color: #4ace9f;
    padding: 15px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 26px;
    margin-right: 10px;
}

.btn-box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 40px;
}
.answer-box {
}

@media screen and (max-width: 500px){
    .logo {
        width: 100%;
    }
    .logo img{
        width: 100%;
        max-width: 367px;
    }
    .form-box form h2 {
        font-size: 26px;
        /* margin: 0 0 10px; */
    }
    .form-box input {
        margin-top: 20px;
        font-size: 16px;
    }
    .form-box button {
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 20px;
    }
}
